@charset "UTF-8";
body{
    background-color: #e8c0cb;
}


/* ヘッダー */
h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
    max-width: 100%;
}


/* コンテナ */
.container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    background-color: #f6d6df;
    height: 100vh;
}


/* キャラクター */
#puff{
    position: absolute;
    height: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1000;
}


/* 背景 */
.item {
    position: absolute;
}

.item.tana2 {
    background-image: url(../images/room5/tana2.png);
    background-repeat: no-repeat;
    width: 266px;
    height: 108px;
    top: 100px;
    left: 300px;
}

.item.poster {
    background-image: url(../images/room5/poster.png);
    background-repeat: no-repeat;
    width: 314px;
    height: 307px;
    top:210px;
    right: 350px;
    z-index: 10;
}

.item.tana {
    background-image: url(../images/room5/tana.png);
    background-repeat: no-repeat;
    width: 324px;
    height: 319px;
    bottom: 100px;
    left: 100px;
    z-index: 20;
}

.item.miller {
    background-image: url(../images/room5/miller.png);
    background-repeat: no-repeat;
    width: 185px;
    height: 478px;
    bottom: 100px;
    right: 50px;
    z-index: 30;
}

.item.yuka {
    background-color: #c9e4f2;
    width: 1300px;
    height: 150px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
}


/* フォント */
.m-plus-rounded-1c-light {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 250px;
    font-style: normal;
  }


/* パソコン */
@media screen and (min-width: 1200px) {
    .item.c {
        right: 100px;
    }
}